/* Dark color */
#credit, #credit a {
	color: #6E6F00;
}
#credit a {
	border-color: #6E6F00;
}
/* Base color */
#credit a:hover, a:link, a:active, a:visited, h3 {
	color: #FFE900;
}
.menu ul li a:hover, .menu ul li a.selflink {
	border-color: #FFE900;
}
/* Highlight color */
a:hover, a:focus {
	color: #FDFF00;
}
