<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/2002/REC-xhtml1-20020801/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>$WikiTitle {$Group}/{$Titlespaced}</title>
	<link rel="stylesheet" href="$SkinDirUrl/skin.css" type="text/css">
	<link rel="stylesheet" href="$SkinDirUrl/color-$SkinColor.css" type="text/css">
	<!--HTMLHeader-->
	<script type="text/javascript">
		$(document).ready(function(){
			$('#wikitext .album').each(function(){
				$(this).click(	function(){ document.location.href = $(this).find('h3 a').attr('href'); });
			});
			$('#pg_Navigation .pg_Next').click( function(){ $.galleria.next(); return false; });
			$('#pg_Navigation .pg_Prev').click( function(){ $.galleria.prev(); return false; });
		});
	</script>
</head><body>

<div id="titlebar" >
	<div class="sitetitle"><h1><a href="{$ScriptUrl}" title="$WikiTitle">$WikiTitle</a></h1></div>
	<!--PageTabsFmt-->
		<div class="menu">
			<!--wiki:{$Group}.SiteNav {$SiteGroup}.SiteNav {$SiteGroup}.{$SkinName}-SiteNav-->
		</div>
	<!--/PageTabsFmt-->
</div>

<div id="main" class="force_contain">
	<div id="gallerytitle" >
		<!--PageTitleFmt-->
			<h2><!--markup:(:if group -$DefaultGroup :)[[$DefaultGroup.$DefaultName | $DefaultGroup]] | (:ifend:)[[{$Group}/{$DefaultName} | {$Group}]] | {$Titlespaced} --></h2>
		<!--/PageTitleFmt-->
	</div>
	<!--PageText-->
</div>

<div id="credit">
	<div class="left">
		<a href="http://alexwilsonphoto.com/" rel="nofollow">Original design</a> adapted by <a href="http://solidgone.org/Skins/">David Gilbert</a>, powered by <a href="http://pmwiki.org/">PmWiki</a>
	</div>
	<!--PageActionFmt-->
		<div class="wikicmds">
<!--markup:
(:if ( !auth edit ) :)
* %item rel=nofollow class=login accesskey='$[ak_login]'%[[{*$FullName}?action=login | $[Login] ]]
(:ifend:)
(:if ( auth edit ) :)
(:include {$Group}.PageActions {$SiteGroup}.PageActions:)
* %item rel=nofollow class=logout accesskey='$[ak_logout]'%[[{*$FullName}?action=logout | $[Logout] ]]
(:ifend:)
-->
		</div>
	<!--/PageActionFmt-->
</div>

</body>
</html>
