<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/2002/REC-xhtml1-20020801/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>$WikiTitle: {$Group}/{$Titlespaced}</title>
	<link rel="stylesheet" href="$SkinDirUrl/skin.css" type="text/css">
	<link rel="stylesheet" href="$SkinDirUrl/color-$SkinColor.css" type="text/css">
	<!--HTMLHeader-->
	<script type="text/javascript">
		// Required because IE7 displays empty elements when the have a background image
		// (ie, when SiteTabs doesn'te exist menu bar is displayed)
		$(document).ready(function(){
			if ($('#titlebar > .menu > *').length > 0) {
				$('#titlebar > .menu').addClass('menu_bg');
			}
			$('.album').each(function(){
				$(this).click(
					function(){ document.location.href = $(this).find('.thumb a').attr('href'); }
				);
			});
		});
	</script>
</head>
<body>

<div id="titlebar" >
	<div class="sitetitle"><h1><a href="{$ScriptUrl}" title="$WikiTitle">$WikiTitle</a></h1></div>
	<!--PageTabsFmt-->
		<div class="menu">
			<!--wiki:{$Group}.SiteTabs {$SiteGroup}.SiteTabs-->
		</div>
	<!--/PageTabsFmt-->
</div>

<div id="main" class="force_contain">
	<div id="gallerytitle" >
		<!--PageTitleFmt-->
			<h2><a href='{$ScriptUrl}/{$Group}/{$DefaultName}' class='pagegroup'>{$Group}</a> | {$Titlespaced}</h2>
		<!--/PageTitleFmt-->
	</div>

	<!--PageText-->
</div>

<div id="credit">
	<div class="left">
		<a href="http://alexwilsonphoto.com/" rel="nofollow">Original design</a> adapted by <a href="http://wiki.solidgone.org/Skins">solidGone.org</a> | Powered by <a href="http://pmwiki.org/">PmWiki</a>
	</div>
	<!--PageActionFmt-->
		<div class="wikicmds">
<!--markup:
(:if ( !auth edit ) :)
* %item rel=nofollow class=login accesskey='$[ak_login]'%[[{*$FullName}?action=login | $[Login] ]]
(:ifend:)
(:if ( auth edit ) :)
(:include {$Group}.PageActions {$SiteGroup}.PageActions:)
* %item rel=nofollow class=logout accesskey='$[ak_logout]'%[[{*$FullName}?action=logout | $[Logout] ]]
(:ifend:)
-->
		</div>
	<!--/PageActionFmt-->
</div>

</body>
</html>
