<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/2002/REC-xhtml1-20020801/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>$WikiTitle: {$Group}/{$Titlespaced}</title>
	<link rel="stylesheet" href="$SkinDirUrl/skin.css" type="text/css">
	<!--HTMLHeader-->
</head>
<body>

<div id="titlebar" class="force_contain">
	<div class="sitetitle"><h1><a href="{$ScriptUrl}" title="$WikiTitle">$WikiTitle</a></h1></div>
	<!--PageTabsFmt-->
		<div class="menu">
			<!--wiki:{$Group}.SiteTabs {$SiteGroup}.SiteTabs-->
		</div>
		<br class="clearit">
	<!--/PageTabsFmt-->
</div>

<div id="main">
	<div id="gallerytitle" class="force_contain">
		<!--PageTitleFmt-->
			<h2><a href='{$ScriptUrl}/{$Group}/{$DefaultName}' class='pagegroup'>{$Group}</a> | {$Titlespaced}</h2>
		<!--/PageTitleFmt-->
		<!--PageActionFmt-->
			<div class="wikicmds">
				<!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions-->
			</div>
		<!--/PageActionFmt-->
	</div>

	<!--PageText-->
	<br class="clearit">
</div>

<div id="credit">
	<a href="http://alexwilsonphoto.com/" rel="nofollow">Original design</a> adapted by <a href="http://wiki.solidgone.org/Skins">solidGone.org</a> | Powered by <a href="http://pmwiki.org/">PmWiki</a>
</div>

</body>
</html>
