/* Basics
------------------------------ */
html {height: 100%; 	/* Moz */}
*{margin:0;padding:0}

/* Main Layout
------------------------------ */
body {
	font: normal 82%/100% "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #888; /*#bba */
	background: #000
}
#main {
	text-align: left;
	margin: 0 auto;
	width: 683px;
	min-height:350px;
	background: #222;
	padding: 0 30px 5px;
	border: 1px solid #444;
}
#titlebar {
	text-align: center;
	margin: 20px auto 0;
	width: 745px;
}
#credit {
	margin: 10px auto;
	text-align: center;
	width: 683px;
	font-size: 85%;
	color: #294550;
}
#credit a {
	text-decoration: none;
	color: #294550;
	border-bottom: 1px dotted #294550;
}
#credit a:hover {
	color: #748da0;
	border-bottom: 1px solid #294550;
	text-decoration: none;
}
#gallerytitle {
	margin: 15px 0;
	/*min-height: 40px;
  _height: 40px;*/
}
#gallerytitle h2 {
	float: left;
	font-weight: normal;
	font-size: 115%;
}

/* Link Styles
------------------------------ */
a{color:#348;text-decoration:none;outline:none;}
a:hover{color:#67a;}
a:link, a:active, a:visited { text-decoration: underline; color: #86a1b6; }
a:hover, a:focus { text-decoration: underline; color: #94c2e5; }

.sitetitle {
	margin-bottom: 20px;
}
.sitetitle h1 a:link,.sitetitle h1 a:active,.sitetitle h1 a:visited {
	text-decoration: none;
	color: #bbb;
	font-variant:small-caps;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.sitetitle h1 a:hover,.sitetitle h1 a:focus {
	color: #eee;
}

/* Text Styles
------------------------------ */
h1,h2{
	font: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #AAA;
}
h1 {
	font-size: 155%;
	font-weight: normal;
	letter-spacing:.6em;
}
h2 a:link, h2 a:visited {
	color: #86a1b6;
	text-decoration: none;
	letter-spacing:3px;
}
h2 span {
	color: #666;
}
h2 a:hover {
	color: #94c2e5;
	text-decoration: none;
}
h3 {
	font: 110% "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #748da0;
	margin-top: 30px;
}
h3 a:link, h3 a:visited { text-decoration: none; }
h3 a:hover { text-decoration: underline; }

hr {
	clear: both;
	height: 0;
	border: 0;
	border-top: 1px solid #444;
	margin: 0 0 12px 0;
	padding: 0;
}
img {
	border: 0;
}

/* Album Thumbnails
------------------------------ */
#albums {
	float: left;
}
#footnotes {
	float: left;
	margin-bottom: 12px;
}
.album {
	margin: 4px -4px 4px 12px;
   padding: 10px 0px 8px 8px;
	float: left;
	width: 314px;
	border: 1px solid #444;
	background: #333;
}
.album .thumb {
    float: left;
    margin-right: 6px;
}
.album h3 {
	padding: 0;
	margin: 0;
}
.album p {
	font-size: 85%;
  	padding: 4px 0px 0px;
  	margin: 0px;
}
.albumdesc small {
	color: #8DB8CF;
}

/* Forms
------------------------------ */
#text {
	padding: 2px;
	width: 100%;
	color: #888;
}
#wikiedit input {
	margin: 1px;
	padding: 2px;
	border: 1px solid #333;
}

/* Menu
---------------------------- */
.menu {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
	margin: 0;
	padding: 0;
	background: #000000 url(images/bg-bubplastic.gif) top left repeat-x;
}
.menu ul {
   clear:left;
   float:left;
   list-style:none;
   position:relative;
   left:50%;
   text-align:center;
}
.menu ul li {
   display:block;
   float:left;
   position:relative;
   right:50%;
}
.menu ul li a {
   display:block;
   margin:0;
   line-height:2.9em;
	padding: 0 35px;
	text-transform: uppercase;
	font-size: 75%;
	font-weight: bold;
	color: #AAA;
	text-decoration: none;
	cursor: pointer;
}
.menu ul li a:hover,
.menu ul li a.selflink {
	background: transparent url(images/bg-bubplastic-h-gray.gif) top left no-repeat;
}
.menu ul li a:hover,
.menu ul li.selflink {
	background: transparent url(images/bg-bubplastic-h-gray.gif) top right no-repeat;
}

/* --------- Container Hacks ----------- */
.force_contain:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.force_contain { display: inline-block; _height: 1%; }
/* Hides from IE-mac \*/
.force_contain { display: block; }
/* End hide from IE-mac */
.clearit {margin: 0; padding: 0; height: 0; clear: both; }

/* PMWIKI */
.wikicmds { float:right; white-space:nowrap; font-family:Verdana,sans-serif; font-size:70%; }
.wikicmds ul { list-style:none; margin:0px; padding:0px; }
.wikicmds li { display:inline; margin:0px 2px; }
.wikicmds li a { text-decoration:none; border:none; }
.wikicmds li a.createlink { display:none; }
.wikicmds li a:hover { text-decoration:underline; }
.menu li a.createlink { display:none; }
.pmGalleryWrapper {margin-left: auto; margin-right: auto; }
#pmGalleryImage {margin-top: 20px; text-align: center; }
